flask
gunicorn

numpy
pandas
matplotlib
scipy

pyvis
automata-lib
aalpy

openai
langchain-core
langchain-openai
langchain-google-genai
langchain-anthropic
google-genai
gspread
google-auth
google-api-python-client
google-auth-httplib2
